
@import "../node_modules/angular-bootstrap-md/assets/scss/core/bootstrap/rfs";
.introTitulo {
  @include responsive-font-size(6rem);
  margin: 0 0 .5em;
}

.introSubTitulo {
  @include responsive-font-size(2rem);
  margin: 0 0 .5em;
}

.introBoton {
  @include responsive-font-size(0.9rem);
  margin: 0 0 .5em;
}

.aboutTitulo{
  @include responsive-font-size(2.5rem);
  margin: 0 0 .5em;
}

.aboutText{
  @include responsive-font-size(1.7rem);
  margin: 0 0 .5em;
}

.instalacionesTitulo{
  @include responsive-font-size(2.5rem);
  margin: 0 0 .5em;
}

.tituloLogin{

  @include responsive-font-size(2rem);
  margin: 0 0 .5em;
}

.labelsLogin{

  @include responsive-font-size(0.7rem);
  margin: 0 0 .5em;
}

.labels2Login{

  @include responsive-font-size(1rem);
  margin: 0 0 .5em;
}

::ng-deep .navCss nav
{
      background-color: #CEDD43;
}

button {
    border-radius: 30px;
}
.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: transparent;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: transparent;
    }
}

html,
body,
header,
.view {
  height: 100%;
}

mdb-navbar .navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}
mdb-navbar .navbar.navbar-2 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}
mdb-navbar .navbar.navbar-3 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
}
mdb-navbar .navbar.navbar-4 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
}
mdb-navbar .navbar.navbar-5 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=f3e5f5');
}
mdb-navbar .navbar.navbar-6 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C');
}
mdb-navbar .navbar.navbar-7 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00');
}
mdb-navbar .navbar.navbar-8 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
}
mdb-navbar .navbar.navbar-9 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');
}


.scrollbar {
    margin-left: 30px;
    float: left;
    height: 100%;
    width: 95%;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
    border-radius: 30px;
}
.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #4285F4; }

.scrollbar-danger::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-danger::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #ff3547; }

.scrollbar-warning::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-warning::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-warning::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #FF8800; }

.scrollbar-success::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-success::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #00C851; }

.scrollbar-info::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-info::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-info::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #33b5e5; }

.scrollbar-default::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-default::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-default::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #2BBBAD; }

.scrollbar-secondary::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #aa66cc; }