<div class="container-fluid" id="approot">
    <header>
       <app-navbar id='navcli' class="animated fadeIn"></app-navbar>
       <app-adminnav id='navadmin' class="animated fadeIn"></app-adminnav>
       <nav id="Menu1">
               <ul>
                   <li><a mdbwaveseffect (click)="onClickInicio()" routerLink="inicio" id='btn1'>Inicio</a></li>
                   <li><a mdbwaveseffect (click)="onClickInstalaciones()" id='btn2'>Instalaciones</a></li>
                   <li><a mdbwaveseffect (click)="onClickUbicacion()" id='btn3'>¿Quienes Somos?</a></li>
                   <li><a mdbwaveseffect (click)="onClickPrecio()" id='btn4'>Precios</a></li>
               </ul>
       </nav> 
    </header>
    
</div>

<router-outlet></router-outlet>
