<div class="container-fluid" id="approot" style="background-color: #ECECEC;">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="view jarallax">
                <img alt="" src="../assets/img/img2.jpg">
                <div class="mask rgba-black-strong">
                    <app-navbar class="animated fadeIn delay-1s"></app-navbar>
                    <app-login id="login" ></app-login>
                    <app-intro id="intro" class="animated fadeInUpBig delay-2s"></app-intro>
                    <app-registro id="registro" ></app-registro>
                </div>
            </div>
        </div>
    </div>
    <app-about id="about"></app-about>
    <app-instalaciones id="instalaciones"></app-instalaciones>
</div>
<app-footer></app-footer>