<!-- Footer -->
<footer class="page-footer font-small black ">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mt-4 mx-5 md-0 text-center">

                <!-- Content -->
                <h5 class="text-uppercase"><strong>Telefono: 123456789</strong></h5>
                <h5 class="text-white"><strong>ParkingLot@gmail.com</strong></h5>

            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-sm text-center mt-4">
            

                <button mdbbtn mdbwaveseffect type="button" style="border-radius: 30px;" class="btn btn-lg btn-light mx-5">
                    <strong><mdb-icon fab icon="instagram"></mdb-icon></strong>
                </button>
                <button mdbbtn mdbwaveseffect type="button" style="border-radius: 30px;" class="btn btn-lg btn-light mx-5">
                    <strong><mdb-icon fab icon="facebook-f"></mdb-icon></strong>
                </button>
                <button mdbbtn mdbwaveseffect type="button" style="border-radius: 30px;" class="btn btn-lg btn-light mx-5">
                    <strong><mdb-icon fab icon="twitter"></mdb-icon></strong>
                </button>
                <button mdbbtn mdbwaveseffect type="button" style="border-radius: 30px;" class="btn btn-lg btn-light mx-5">
                    <strong><mdb-icon fab icon="google-plus-g"></mdb-icon></strong>
                </button>
                <button mdbbtn mdbwaveseffect type="button" style="border-radius: 30px;" class="btn btn-lg btn-light mx-5">
                    <strong><mdb-icon fab icon="github"></mdb-icon></strong>
                </button>
            </div>

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"><strong>© Copyright 2019.</strong>
        <a href="https://mdbootstrap.com/education/bootstrap/"><strong>All Rights Reserved</strong></a>
    </div>
    <!-- Copyright -->

</footer>