<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-md-3 mt-5">
            <form class="text-center text-black white border p-5" style="border-radius: 30px;">

                    <p class="h4 mb-4"><strong>Iniciar Sesión</strong></p>
                    
                    <!-- Email -->
                    <div class="md-form">
                        <input mdbInput type="text" id="form2" class="form-control">
                            <label for="form2">
                            <strong>Nombre de usuario</strong></label>
                        </div>
                        <div class="md-form form-sm">
                            
                            <input mdbInput type="password" id="form1" class="form-control">
                            <label for="form1" ><strong>Contraseña</strong></label>
                        </div>
                    
                    <div class="d-flex justify-content-around">
                        <div>
                        <!-- Remember me -->
                        <mdb-checkbox [default]="true"><strong>Recordar</strong></mdb-checkbox>
                        </div>
                        <div>
                        <!-- Forgot password -->
                        <a href=""><strong>¿Olvidó su contraseña?</strong></a>
                        </div>
                    </div>
                    
                    <!-- Sign in button -->
                    <button mdbBtn mdbwaveseffect (click)="login()" style="border-radius: 30px;" color="primary" block="true" class="my-4" type="button"><strong>Ingresar</strong></button>
                    
                    <!-- Register -->
                    <p><strong>¿No es un miembro?
                        <a (click)="aRegistro()" href="javascript:void(0)">Registro</a>
                        </strong>
                    </p>
                    
                    
                    </form>
        </div> 
    </div>
</div>