<div class="container">
  <h1>Estacionamiento</h1>

  <div class="izq" (click)="goizq()">
    <svg
      width="17"
      height="20"
      viewBox="0 0 17 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M-4.80825e-07 10L16.5 19.5263L16.5 0.473721L-4.80825e-07 10Z"
        fill="#0D0E11"
      />
    </svg>
  </div>
  <div class="der" (click)="goder()">
    <svg
      width="17"
      height="20"
      viewBox="0 0 17 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M17 10L0.499999 19.5263L0.5 0.47372L17 10Z" fill="#0D0E11" />
    </svg>
  </div>

  <div id="Filtro">
    <label for="">Hora</label>

    <input type="time" id="tllegada" (keyup)="changeinput()" />
  </div>

  <div id="ContenedorMapas">
    <div class="contenedor-mapa" id="M1">
      <p>Piso 1</p>
      <div id="Piso" class="pisos-croquis">
        <div class="col1">
          <div class="cajon" id="c-1-p1">1</div>
          <div class="cajon" id="c-2-p1">2</div>
          <div class="cajon" id="c-3-p1">3</div>
          <div class="cajon" id="c-4-p1">4</div>
        </div>
        <div class="col2">
          <div class="cajon" id="c-5-p1">5</div>
          <div class="cajon" id="c-6-p1">6</div>
          <div class="cajon" id="c-7-p1">7</div>
          <div class="cajon" id="c-8-p1">8</div>
        </div>

        <div class="col3">
          <div class="cajon" id="c-9-p1">9</div>
          <div class="cajon" id="c-10-p1">10</div>
          <div class="cajon" id="c-11-p1">11</div>
          <div class="cajon" id="c-12-p1">12</div>
          <div class="cajon" id="c-13-p1">13</div>
        </div>

        <div class="col4">
          <div class="cajon" id="c-14-p1">14</div>
          <div class="cajon" id="c-15-p1">15</div>
          <div class="cajon" id="c-16-p1">16</div>
          <div class="cajon" id="c-17-p1">17</div>
        </div>
      </div>
    </div>

    <div class="contenedor-mapa" id="M2">
      <p>Piso 2</p>
      <div id="Piso" class="pisos-croquis">
        <div class="col1">
          <div class="cajon" id="c-1-p2">18</div>
          <div class="cajon" id="c-2-p2">19</div>
          <div class="cajon" id="c-3-p2">20</div>
          <div class="cajon" id="c-4-p2">21</div>
        </div>
        <div class="col2">
          <div class="cajon" id="c-5-p2">22</div>
          <div class="cajon" id="c-6-p2">23</div>
          <div class="cajon" id="c-7-p2">24</div>
          <div class="cajon" id="c-8-p2">25</div>
        </div>

        <div class="col3">
          <div class="cajon" id="c-9-p2">26</div>
          <div class="cajon" id="c-10-p2">27</div>
          <div class="cajon" id="c-11-p2">28</div>
          <div class="cajon" id="c-12-p2">29</div>
          <div class="cajon" id="c-13-p2">30</div>
        </div>

        <div class="col4">
          <div class="cajon" id="c-14-p2">31</div>
          <div class="cajon" id="c-15-p2">32</div>
          <div class="cajon" id="c-16-p2">33</div>
          <div class="cajon" id="c-17-p2">34</div>
        </div>
      </div>
    </div>

    <div class="contenedor-mapa" id="M3">
      <p>Piso 3</p>
      <div id="Piso" class="pisos-croquis">
        <div class="col1">
          <div class="cajon" id="c-1-p3">35</div>
          <div class="cajon" id="c-2-p3">36</div>
          <div class="cajon" id="c-3-p3">37</div>
          <div class="cajon" id="c-4-p3">28</div>
        </div>
        <div class="col2">
          <div class="cajon" id="c-5-p3">39</div>
          <div class="cajon" id="c-6-p3">40</div>
          <div class="cajon" id="c-7-p3">41</div>
          <div class="cajon" id="c-8-p3">42</div>
        </div>

        <div class="col3">
          <div class="cajon" id="c-9-p3">43</div>
          <div class="cajon" id="c-10-p3">44</div>
          <div class="cajon" id="c-11-p3">45</div>
          <div class="cajon" id="c-12-p3">46</div>
          <div class="cajon" id="c-13-p3">47</div>
        </div>

        <div class="col4">
          <div class="cajon" id="c-14-p3">48</div>
          <div class="cajon" id="c-15-p3">49</div>
          <div class="cajon" id="c-16-p3">50</div>
          <div class="cajon" id="c-17-p3">51</div>
        </div>
      </div>
    </div>

   
  </div>

  <div class="contenedor-cuadritos">
    <div class="cuadros"></div>
    <p>Lugares Ocupados</p>
  </div>

  <div class="contenedor-cuadritos">
    <div class="cuadros c2"></div>
    <p>Lugares Vacios</p>
  </div>
</div>
