<div class="container">
  <h1>Estacionamiento</h1>

  <div class="izq" (click)="goizq()">
    <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M-4.80825e-07 10L16.5 19.5263L16.5 0.473721L-4.80825e-07 10Z" fill="#0D0E11"/>
    </svg>        
  </div>
  <div class="der" (click)="goder()">
        <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17 10L0.499999 19.5263L0.5 0.47372L17 10Z" fill="#0D0E11"/>
            </svg>
                  
  </div>

  <div id="Filtro">
      <label for="">Hora</label>
      
      <input type="time" id="tllegada">
  </div>


  <div id="ContenedorMapas">


        <ng-template [ngIf]="pisoact == 1">
                <div class="contenedor-mapa">
                        <p>Piso 1</p>
                        <div id="Piso" class="pisos-croquis">
                          <div class="col1">
                            <div class="cajon" id="c-1">1</div>
                            <div class="cajon" id="c-2">2</div>
                            <div class="cajon" id="c-3">3</div>
                            <div class="cajon" id="c-4">4</div>
                          </div>
                          <div class="col2">
                            <div class="cajon" id="c-5">5</div>
                            <div class="cajon" id="c-6">6</div>
                            <div class="cajon" id="c-7">7</div>
                            <div class="cajon" id="c-8">8</div>
                          </div>
                    
                          <div class="col3">
                            <div class="cajon" id="c-9">9</div>
                            <div class="cajon" id="c-10">10</div>
                            <div class="cajon" id="c-11">11</div>
                            <div class="cajon" id="c-12">12</div>
                            <div class="cajon" id="c-13">13</div>
                          </div>
                    
                          <div class="col4">
                            <div class="cajon" id="c-14">14</div>
                            <div class="cajon" id="c-15">15</div>
                            <div class="cajon" id="c-16">16</div>
                            <div class="cajon" id="c-17">17</div>
                          </div>
                        </div>
                </div>
        </ng-template>

        <ng-template [ngIf]="pisoact == 2">
                <div class="contenedor-mapa">
                        <p>Piso 2</p>
                        <div id="Piso" class="pisos-croquis">
                          <div class="col1">
                            <div class="cajon" id="c-1">18</div>
                            <div class="cajon" id="c-2">19</div>
                            <div class="cajon" id="c-3">20</div>
                            <div class="cajon" id="c-4">21</div>
                          </div>
                          <div class="col2">
                            <div class="cajon" id="c-5">22</div>
                            <div class="cajon" id="c-6">23</div>
                            <div class="cajon" id="c-7">24</div>
                            <div class="cajon" id="c-8">25</div>
                          </div>
                    
                          <div class="col3">
                            <div class="cajon" id="c-9">26</div>
                            <div class="cajon" id="c-10">27</div>
                            <div class="cajon" id="c-11">28</div>
                            <div class="cajon" id="c-12">29</div>
                            <div class="cajon" id="c-13">30</div>
                          </div>
                    
                          <div class="col4">
                            <div class="cajon" id="c-14">31</div>
                            <div class="cajon" id="c-15">32</div>
                            <div class="cajon" id="c-16">33</div>
                            <div class="cajon" id="c-17">34</div>
                          </div>
                        </div>
                </div>
        </ng-template>
        
        <ng-template [ngIf]="pisoact == 3">
                <div class="contenedor-mapa">
                        <p>Piso 3</p>
                        <div id="Piso" class="pisos-croquis">
                          <div class="col1">
                            <div class="cajon" id="c-1">35</div>
                            <div class="cajon" id="c-2">36</div>
                            <div class="cajon" id="c-3">37</div>
                            <div class="cajon" id="c-4">28</div>
                          </div>
                          <div class="col2">
                            <div class="cajon" id="c-5">39</div>
                            <div class="cajon" id="c-6">40</div>
                            <div class="cajon" id="c-7">41</div>
                            <div class="cajon" id="c-8">42</div>
                          </div>
                    
                          <div class="col3">
                            <div class="cajon" id="c-9">43</div>
                            <div class="cajon" id="c-10">44</div>
                            <div class="cajon" id="c-11">45</div>
                            <div class="cajon" id="c-12">46</div>
                            <div class="cajon" id="c-13">47</div>
                          </div>
                    
                          <div class="col4">
                            <div class="cajon" id="c-14">48</div>
                            <div class="cajon" id="c-15">49</div>
                            <div class="cajon" id="c-16">50</div>
                            <div class="cajon" id="c-17">51</div>
                          </div>
                        </div>
                </div>
        </ng-template>
        
            
    
        
        
  </div>
  

  <div class="contenedor-cuadritos">
    <div class="cuadros"></div>
    <p>Lugares Ocupados</p>
  </div>
  
  <div class="contenedor-cuadritos">
    <div class="cuadros c2" ></div>
    <p>Lugares Vacios</p>
  </div>
  
  
</div>
