
*{
    padding: 0px;
    margin: 0px;
}
#Menu1{
   
    position: relative;
    width: 100%;
    margin-top: 20px;

}
#Menu1 ul li{
    display: inline-block;
    padding: 8px;
}

#Menu1 ul li a{
    color: black;
    text-decoration: none;
    font-size: 12px;
}

#PagInicio{
    width: 100%;
    background: #FFFFFF;
    height: 100vh;
}
#ImagenInicio{
    display: none;
}

@media (min-width: 769px) {

    #Menu1{
        position: absolute;
        top: -10px;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    #Menu1 ul li{
        position: relative;
        margin: 0px 20px;
    }
    #Menu1 ul li a{
        font-size: .9em;

    }
    
}