
    <div class="row">
        <div class="col-md-12">
            <div class="view jarallax bg-white">
                <div id="PagInicio">
                    <img id="ImagenInicio" alt="" src="../assets/img/img2.jpg">
                </div>
                
                <div class="mask">
                         
                    <app-intro id="intro" class="animated fadeIn faster my-auto delay-1s"></app-intro>
                   
                   
                </div>
                
            </div>
        </div>
    </div>
    <app-about id="about" class="animated"></app-about>
    <app-instalaciones id="instalaciones"></app-instalaciones>
    <app-precios id="precio"></app-precios>
    <app-footer></app-footer>