    <div class="row my-5">
        <div class="col-sm-2 mx-5">
            <h1 class="text-primary text-justify"><strong><b>Instalaciones.</b></strong></h1>
        </div>
    </div>
    <br>
    <div class="row  justify-content-center">
        <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="../assets/img/img-park-1.jpg" alt="First slide">
                        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="../assets/img/img-park-2.jpg" alt="Second slide">
                        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="../assets/img/img-park-3.jpg" alt="Third slide">
                        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>

        </div>



    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>