<div class="contenedor">
    <h2 class="titulo">Instalaciones</h2>
    <div class="row mb-2  justify-content-center">
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item>
                    <div  class="view w-100 img">
                        <img class="d-block w-100" src="../assets/img/img-park-1.jpg" alt="First slide">
                        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100 img">
                        <img class="d-block w-100" src="../assets/img/img-park-2.jpg" alt="Second slide">
                        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100 img">
                        <img class="d-block w-100" src="../assets/img/img-park-3.jpg" alt="Third slide">
                        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
    </div>
</div>

<script>
new WOW().init();
</script>