<div class="contenedor">
    <div class="container-fluid my-auto ">
        <div class="row justify-content-center">
            <div class="col-md my-auto">
                <img id="CarroImg" src="../assets/img/car2.png" alt="">
                <h1 id="Titulo">Parking Lot</h1>
                <p>
                    Whether you're looking for a spot in the moment  or want to reserve a 
                    space ahead of time, Car Park puts the power in the palm of your hand.
                </p>
            </div>
        </div>
            <button id="Premium">
                Ingresar
            </button>
            <p> ¿No tienes cuenta? <a class='text-primary'>Registro.</a></p>
    </div>
</div>
