<div class="contenedor">
    <div class="container-fluid mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md">
                <img id="CarroImg" src="../assets/img/car2.png" alt="">
                <h1 id="Titulo">Parking Lot</h1>
                <p>
                    Whether you're looking for a spot in the moment  or want to reserve a 
                    space ahead of time, Car Park puts the power in the palm of your hand.
                </p>
            </div>
        </div>
            <button id="Premium">
                Volverse Premium
            </button>
    </div>
</div>
