<div class="container-fluid mt-5 animated fadeInUp delay-2s">
<br>
<br>
<br>
<br>
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <h1 class="text-white display-1 titulo text-center"><strong><b>Parking Lot</b></strong>
            </h1>
            <h3 class="text-center text-white py-3">
                <strong>

                    Whether you're looking for a spot in the moment or want to reserve a space
                    ahead of time, Car Park puts the power in the palm of your hand.
                </strong>
            </h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-2 text-center">
            <button class="btn btn-lg btn-primary" style="border-radius: 30px;">
                <strong>Volverse Premium</strong>
            </button>
        </div>
    </div>
</div>