<div class="contenedor">
    <div class="promos">  
        <div class="promo first">
            <h4>Basica</h4>
            <ul class="features">
                <li class="brief">Membresia Basica</li>
                <li class="price">$15 por hora</li>
                <li>Reserva cuando quieras y donde quieras</li>
                <li>El lugar mas seguro para guardar tu auto</li>
                <li>& Mas...</li>
                <li class="buy"><button>Sign up</button></li>   
            </ul>
        </div>
        
    </div>
</div>