<div class="contenedor">
    <h2>Precios</h2>    
    <div id="UsuarioNormal"> 
        <p>Usuario Normal</p>
        <table>
            <tr>
                <th>Tiempo en hrs</th>
                <th>Costo</th>
            </tr>
            <tr>
                <td>1</td>
                <td>$15</td>
            </tr>
            <tr>
                <td>2</td>
                <td>$30</td>
            </tr>
            <tr>
                <td>3</td>
                <td>$45</td>
            </tr>
            <tr>
                <td>4</td>
                <td>$55</td>
            </tr>
        
        </table>
            
    </div>
    <div id="UsuarioPremium">
        <p class="margen">Usuario Premium</p>
        <p class="margen">Se paga una mensualidad de $1000, con este
            pago tendrá la oportunidad de registrar 10 autos y pagar 
            unicamente $5 pesos por hora
        </p>
    </div>
    
</div>
