<header>              
    <div class="logo">
        <i class="fas fa-parking mr-3"></i>
        <h4>Parking Lot</h4>
    </div>
    
    <div class="menu-btn" (click)="onClickMenu()">
        <div class="menu-btn__burger"></div>
    </div>


    <nav id="Menu1">
        <ul>
            <li><a mdbwaveseffect (click)="onClickInicio()" id='btn1'>Inicio</a></li>
            <li><a mdbwaveseffect (click)="onClickInstalaciones()" id='btn2'>Instalaciones</a></li>
            <li><a mdbwaveseffect (click)="onClickUbicacion()" id='btn3'>¿Quienes Somos?</a></li>
            <li><a mdbwaveseffect (click)="onClickPrecio()" id='btn4'>Precio</a></li>
        </ul>
    </nav>

    <div id="Menu2" class='animated faster'>
        <ul>
            <li><a href="#">Precios</a></li>
            <li><a href="#">Reservar</a></li>
            <li><a href="#">Historial</a></li>
            <li><a href="#">Editar Perfil</a></li>
            <li><a href="#">Darse de Baja</a></li>
            <li><a href="#">Reservaciones</a></li>
            <li><a href="#">Registrar Vehiculos</a></li>
            <li><a href="#">Salir</a></li>
        </ul>
        
    </div>

</header>


   

   