*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat';
    font-size: 16px;
}

.tituloAddAuto{
    font-size: 24px;
    font-weight: bold;
}

#Contenedor{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #F7F7F7;
}



.Main{
    position: relative;
    width: 100%;
    height: 30%;
    background: radial-gradient(50% 50% at 50% 50%, #468FFD 0%, #0066FF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Main h1{
    color: white;
    font-weight: bold;
    padding: 20px;
    font-size: 1.2rem;
}

.imagen{
    width: 50%;
    position: absolute;
    bottom: 20px;
    transform: translateX(100%);
}
.imagen svg{
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}

nav{
    background: #01304E;;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px; 
}
ul{
   list-style: none;
}
li{
    position: relative;
    display: inline-block;
    padding: 8px 0;
    width: 50%;
    text-align: center;
    color: white;
}


a:not(.dropdown-item){
    color: white;
    text-decoration: none;
    font-size: .8rem;
    
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
}
.container ul p{
    text-align: center;
    margin: 20px 0;
}
.contenedor-info{
    width: 100%;
    height: 100vh;
    padding: 20px;
}
.info-personal{
    margin-bottom: 5px;
}

.divazul{
    position: relative;
    background: royalblue;
    width: 50px;
    height: 2px;
    margin-bottom: 5px;
}

label{
    position: relative;
    width: 30%;
    margin-bottom: 20px;
    font-weight: bold;
}
input{
    width: 60%;
    position: relative;
    font-size: 12px;
    font-weight: 300;
}

.editar-info{
    position: relative;
    background: royalblue;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px lightgray;
    left: 80%;
    margin-top: 50px;
}

.sololectura{
    border: none;
    background: none;
}

.cuentas{
    width: 100%;
    position: relative;
    display: inline-block;
}

.cuentabancaria{
    width: 40%;
    position: relative;
    display: inline-block;
}
.lab{
    position: relative;
    display: inline-block;
}
.cuen{
    position: relative;
    width: 40%;
    display: inline-block;
}

#Autos{
    background: lightcoral;
}

input[type="color"] {
    -webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.card-auto{
    position: relative;
    width: 100%;
}

.btn-plus{
    color: royalblue;
    position: absolute;
    top: 0;
    right: 0;
}
.contenedoresautos{
    width: 100%;
    padding: 10px 0;
    display: inline-block;
}
.contenedoresautos label,
 .contenedoresautos input{
    position: relative;
    display: inline-block;
}
.contenedoresautos label{
    width: 30%;
}
.contenedoresautos input{
    width: 60%;
}
