<div id="Contenedor">
    <div class="Main">
        <h1>Perfil</h1>
        <img src="" alt="">
        <img src="" alt="">
        
        <nav>
            <ul>
                <li><a (click)="onClickDatosPersonales()">Datos Personales</a></li>
                <li><a (click)="onClickDatosAutos()">Autos</a></li>
                <li><a (click)="onClickDatosTarjetas()">Tarjetas</a></li>
            </ul>
        </nav>
    </div>

    <div class="container">
        <ng-template [ngIf]="bandcontenedor == 1">
            <ul *ngFor="let perfil of perfiles">
                <p>{{perfil.nombre}}</p>
                <p>{{perfil.telefono}}</p>
                <p>{{perfil.correo}}</p>
                <p>{{perfil.direccion}}</p>
                
            </ul>
          
               
        </ng-template>

        <ng-template [ngIf]="bandcontenedor == 2">
            <p>Estos son los autos</p>
        </ng-template>

        <ng-template [ngIf]="bandcontenedor == 3">
            <p>Estos son las tarjetas</p>
        </ng-template>
       
    </div>

</div>
