<div id="Contenedor">
    <div class="Main">
        <h1>Perfil</h1>
        <div class="imagen">
            <svg width="124" height="163" viewBox="0 0 124 163" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M42.9331 33.7121C39.5301 41.0842 39.0778 46.7485 39.3483 57.9788C32.9939 67.8372 36.2148 70.6757 42.9331 75.3515C43.7885 75.8943 105.406 69.6308 114.906 64.597C124.405 59.5631 124.063 49.4413 114.906 46.1212V48.8788L106.357 50.8091C106.086 42.9187 105.723 38.8165 102.497 35.3667C95.445 31.3863 92.4157 28.7251 88.4331 23.2333C77.0102 30.1531 66.1807 32.0615 42.9331 33.7121Z" fill="#FEAC93"/>
                <g filter="url(#filter0_d)">
                <path d="M114.906 64.8727L43.209 75.0757C53.6965 94.2159 69.1302 108.994 86.5029 104.03C103.876 99.0667 112.09 87.6406 114.906 64.8727Z" fill="#FEAC93"/>
                </g>
                <path d="M26.9393 116.715L10.6696 123.885L22.8029 150.633C25.4382 155.81 27.2718 158.055 31.6271 160.009C37.2249 163.074 40.3666 163.031 45.9665 160.009L56.1696 153.942V160.009H123.179V150.633C122.192 142.034 121.357 137.209 117.939 128.573C115.384 121.177 113.152 118.45 109.115 113.682C104.729 109.554 102.165 107.484 96.4302 106.512V112.027C94.2646 117.38 93.535 118.515 92.2938 120.3L87.0544 121.955L80.712 117.818L76.8514 108.442L73.5423 110.924C69.2742 114.321 68.409 115.36 67.7514 116.715C62.9061 120.242 61.6696 121.98 60.0302 124.988L56.1696 131.33L50.3786 135.467L39.8999 144.291C38.625 144.571 37.88 144.46 36.315 142.085V137.948L26.9393 116.715Z" fill="#06387F" stroke="black"/>
                <path d="M93.6726 126.367L102.221 160.561H121.524L111.597 122.23C102.948 118 98.9133 118.517 93.6726 126.367Z" fill="#01304E" stroke="black"/>
                <path d="M27.2149 116.991L10.3937 123.885C9.15896 122.417 8.94012 121.202 9.01493 118.645L1.29371 108.167C0.544434 105.485 0.995043 104.452 5.43008 104.582L10.3937 109.27L5.98159 99.0667C6.57442 96.2065 7.62108 95.862 10.3937 96.8606L15.3573 107.064L12.5998 95.7576C13.8604 91.9983 15.2234 91.7149 18.6664 94.103L21.6998 105.685C21.7478 108.627 22.3604 109.167 23.9058 109.27L26.1119 100.445C29.741 97.1669 30.3191 99.2623 31.0755 103.755L27.2149 116.991Z" fill="#ED8160" stroke="black"/>
                <path d="M96.7059 77.8333C88.3462 81.8253 82.7655 83.1946 71.8877 84.7273C74.4936 89.8479 76.4988 91.4908 80.7119 93C88.4556 92.9118 91.0097 92.0211 93.3968 89.4151C97.1805 85.3637 97.4386 82.7396 96.7059 77.8333Z" fill="#944B55" stroke="black"/>
                <path d="M96.1544 79.4879C88.8738 82.4947 83.8835 83.7775 73.818 85.5545L75.4725 87.4848L96.1544 82.2454V79.4879Z" fill="#FFEBE4"/>
                <path d="M92.8454 87.7606C88.08 87.3873 86.4041 88.0579 84.8484 90.7939C86.2342 91.5701 87.1599 91.8009 89.812 90.7939C91.2202 90.3403 91.8174 89.46 92.8454 87.7606Z" fill="#F17287"/>
                <path d="M42.1059 30.9545L32.7301 34.2636L42.1059 33.1606C60.1437 32.9716 70.3264 31.1931 88.7089 23.2333C92.4263 29.2551 95.5123 31.9213 102.497 35.6424C105.054 38.749 106.158 41.263 105.806 51.0848L114.354 49.1545C113.175 40.1388 111.93 35.4039 107.46 28.197H110.77L105.806 23.2333H109.942C98.4014 9.12604 93.8169 7.08364 86.7786 6.96364C84.2833 4.29779 81.9517 3.84179 75.7483 5.30909C64.1249 6.75501 58.6884 5.95386 50.6544 2L54.515 8.89394C43.2944 7.07545 40.2307 5.28993 35.212 2L40.4513 12.203L25.8362 8.89394C27.1732 14.0616 29.6559 16.5049 36.5907 20.2C27.3388 21.4412 23.7715 22.4783 20.0453 24.8879H39.3483L24.7332 28.7485C25.9573 29.8641 27.2626 30.1243 32.7301 28.7485V30.9545C36.3923 29.6275 38.4441 29.8389 42.1059 30.9545Z" fill="#482536" stroke="#482536"/>
                <path d="M95.8786 100.17C87.8443 103.934 83.5802 105.276 76.8513 104.858L77.6786 111.476L80.4362 116.991C87.5937 125.179 90.9267 124.137 95.8786 113.682C96.9819 108.887 97.3194 106.077 95.8786 100.17Z" fill="#FEAC93" stroke="#FEAC93"/>
                <path d="M70.5089 53.0151L61.9604 76.7303L73.5423 75.0757L70.5089 53.0151Z" fill="#ED8160"/>
                <path d="M60.306 35.9182C53.225 37.2594 49.6148 38.4481 43.209 40.6061C48.736 36.1487 51.8679 33.5684 55.6181 33.7122C58.2019 33.818 59.0935 34.4372 60.306 35.9182Z" fill="#482536" stroke="#482536"/>
                <path d="M72.9908 30.9545V29.8515L81.5393 27.3697C87.2503 28.4953 88.771 29.3304 90.3636 30.9545H72.9908Z" fill="#482536" stroke="#482536"/>
                <circle cx="83.4695" cy="46.397" r="8.87576" fill="white" stroke="white"/>
                <circle cx="53.6876" cy="51.3606" r="8.87576" fill="white" stroke="white"/>
                <circle cx="53.6878" cy="51.3606" r="2.80909" fill="#0066FF" stroke="#0066FF"/>
                <path d="M85.7272 46.1212C85.7272 47.5203 84.593 48.6545 83.1939 48.6545C81.7947 48.6545 80.6605 47.5203 80.6605 46.1212C80.6605 44.7221 81.7947 43.5879 83.1939 43.5879C84.593 43.5879 85.7272 44.7221 85.7272 46.1212Z" fill="#0066FF" stroke="#0066FF"/>
                <path d="M56.4452 153.942L58.6513 128.573" stroke="black"/>
                <defs>
                <filter id="filter0_d" x="42.209" y="64.8727" width="73.697" height="42.1266" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="1"/>
                <feGaussianBlur stdDeviation="0.5"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
                </defs>
            </svg>
        </div>
        
            
        <img src="" alt="">
        
        <nav>
            <ul>
                <li><a (click)="onClickDatosPersonales()">Datos Personales</a></li>
                <li><a (click)="onClickDatosAutos()">Autos</a></li>
                <li><a (click)="onClickDatosTarjetas()">Tarjetas</a></li>
            </ul>
        </nav>
    </div>

    <div class="container">
        <ng-template [ngIf]="bandcontenedor == 1">
            <mdb-card class="p-5 animated fadeIn" *ngFor="let perfil of perfiles">
                <mdb-card-body>
                    <div class="row">
                       <div class="col-md mx-2">
                           <mdb-card-title>
                               <h4>Nombre</h4>
                           </mdb-card-title>
                           <hr>
                           <mdb-card-text class="mt-1">
                               {{perfil.nombre}}
                           </mdb-card-text>
                       </div> 
                       <div class="col-md mx-1">
                           <mdb-card-title>
                               <h4>Apellido</h4>
                           </mdb-card-title>
                           <hr>
                           <mdb-card-text class="mt-2">
                               {{perfil.apellido}}
                           </mdb-card-text>
                       </div>
                    </div>
                    <br>
                    
                    <div class="row">
                        <div class="col-md mx-1">
                            <mdb-card-title>
                                <h4>Correo Electronico</h4>
                            </mdb-card-title>
                            <hr>
                            <mdb-card-text class="mt-2">
                                {{perfil.email}}
                            </mdb-card-text>
                        </div>
                        <div class="col-md mx-1">
                            <mdb-card-title>
                                <h4>Telefono</h4>
                            </mdb-card-title>
                            <hr>
                            <mdb-card-text class="mt-2">
                                {{perfil.telefono}}
                            </mdb-card-text>

                        </div>
                    </div>
                    <br>
                    <div class="row mx-1">
                        <div class="col-md">
                            <mdb-card-title>
                                <h4>Direccion</h4>
                            </mdb-card-title>
                            <hr>
                            
                            <mdb-card-text class="mt-2">
                                Calle: {{perfil.direccion.calle}}
                            </mdb-card-text>
                            <mdb-card-text class="mt-2">
                                Numero: {{perfil.direccion.numero}}
                            </mdb-card-text>
                            <mdb-card-text class="mt-2">
                                Colonia: {{perfil.direccion.colonia}}
                            </mdb-card-text>
                            <mdb-card-text class="mt-2">
                                C.P.: {{perfil.direccion.cp}}
                            </mdb-card-text>

                        </div>
                        <div class="col-md mx-1">
                            <mdb-card-title>
                                <h4>Informacion Bancaria</h4>
                            </mdb-card-title>
                            <hr>
                            <mdb-card-text class="mt-2" *ngFor="let cuentas of pagos">
                                <ng-template [ngIf]="cuentas.payload.doc.data().numero.slice(0,2) === '55' || cuentas.payload.doc.data().numero.slice(0,2) === '54' || cuentas.payload.doc.data().numero.slice(0,2) === '53' || cuentas.payload.doc.data().numero.slice(0,2) === '52'  || cuentas.payload.doc.data().numero.slice(0,2) === '51'">
                                        <mdb-icon size="1x" fab icon="cc-mastercard"></mdb-icon>
                                </ng-template> 
                                <ng-template [ngIf]="cuentas.payload.doc.data().numero.slice(0,1) === '4'">
                                        <mdb-icon fab icon="cc-visa"></mdb-icon>
                                </ng-template> 
                                ••••-x {{cuentas.payload.doc.data().numero.slice(12)}}
                            </mdb-card-text>

                        </div>
                        <br>
    
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-md-3">
                            <button mdbBtn mdbwaveseffect routerLink='/transicionlog' routerLinkActive="router-link-active"  color="primary" block="true" class="my-4 labelsLogin text-dark" type="button"><strong >Editar Perfil</strong></button>
                        </div>
                    </div>
                </mdb-card-body>
            </mdb-card>
            <br>
        </ng-template>

        <ng-template [ngIf]="bandcontenedor == 2">
            <mdb-card class="p-5 animated fadeIn" *ngFor="let perfil of perfiles">
                <mdb-card-body>
                    <div class ="row">
                        <div class="col-md">
                            <h1 ><strong class="tituloAddAuto">Agregar Auto</strong> </h1>
                        </div>
                        <div class="col-md">
                            <a (click)="agregarAuto()">
                                <h1 class="text-right" ><strong class="tituloAddAuto"><mdb-icon class="text-primary text-right" fas icon="plus-circle" size="2x"></mdb-icon></strong> </h1>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md mx-1">
                            <div class="md-form form-sm">
                                <input mdbInput type="text" id="modelo" class="form-control form-control-sm">
                                <label for="form1" class="">Modelo</label>
                            </div> 
                        </div>
                        <div class="col-md ml-1 mr-5">
                            <div class="md-form form-sm">
                                <input mdbInput type="text" id="placas" class="form-control form-control-sm">
                                <label for="form1" class="">Placas</label>
                            </div> 
                        </div>
                        <div class="col-md mx-2 pt-1">
                            <input type="color"  id="color" name="color">
                            <label for="body" class="mx-2 pb-5">Color</label>
                            <!-- <div class="custom-control custom-radio mx-4">
                                <input type="radio" (click)="colores(1)" class="custom-control-input" id="radio1" name="defaultExampleRadios" mdbInput>
                                <label class="custom-control-label mx-2" for="radio1">Negro</label>
                            </div>
                            
                            <div class="custom-control custom-radio mx-4">
                                <input type="radio" (click)="colores(0)" class="custom-control-input" id="radio2" name="defaultExampleRadios" mdbInput>
                                <label class="custom-control-label mx-2" for="radio2">Azul</label>
                            </div>

                            <div class="custom-control custom-radio mx-4">
                                <input type="radio" (click)="colores(2)" class="custom-control-input" id="radio3" name="defaultExampleRadios" mdbInput>
                                <label class="custom-control-label mx-2" for="radio3">Rojo</label>
                            </div> -->
                        </div>
                    </div>
                </mdb-card-body>
            </mdb-card>
            <br>
            <div class="container-fluid" >
                <div class="row" >
                    <div class="col-md-4" *ngFor="let item of autos">
                            <mdb-card class="p-3 mx-3 my-3 animated fadeIn">
                                <mdb-card-body>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md">
                                                <h1><strong class="tituloAddAuto">{{item.payload.doc.data().modelo}}</strong></h1>
                                            </div>
                                            <div class="col-md-1 text-md-right">
                                                <h1 class="" ><strong class="tituloAddAuto"><mdb-icon class="text-right" [style.color]="item.payload.doc.data().color" fas icon="car-side" size="2x"></mdb-icon></strong> </h1>
                                            </div>
                                            <div class="col-md-1 text-md-right">
                                                    <div class="btn-group mx-4" mdbDropdown>
                                                            <mdb-icon fas icon="ellipsis-v"  classInside="" mdbDropdownToggle class="waves-effect"
                                                                      mdbWavesEffect></mdb-icon>
                                                            <div class="dropdown-menu dropdown-primary p-3">
                                                              <a class="dropdown-item" (click)='eliminarAuto(item.payload.doc.data().modelo)' >Eliminar auto</a>
                                                            </div>
                                                     </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md">
                                                <p class="mt-2"> Placa: {{item.payload.doc.data().placas}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </mdb-card-body>
                            </mdb-card>
                    </div>

                </div>
            </div>
        </ng-template>

        <ng-template [ngIf]="bandcontenedor == 3">
            <p>Estos son las tarjetas</p>
        </ng-template>
       
    </div>
</div>

    <!-- <div class="row">
        <div class="col-md">
            <app-footer></app-footer>
        </div>
    </div> -->