<div class="container-fluid ">
    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
            <form class="text-center text-black white border p-5" style="border-radius: 30px;">

                    <p class="h4 tituloLogin"><strong>Registro</strong></p>
                    
                    <!-- Email -->
                    <div class="container-fluid">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="userIn" class="form-control">
                                        <label for="form1 labelsLogin">
                                        <strong>Nombre de usuario</strong></label>
                                    </div>
                        
                        <div class="row py-0">
                            <div class="col-md py-0" >
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="nombreIn" class="form-control">
                                        <label for="form1 labelsLogin"><strong>Nombre</strong></label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="apellidoIn" class="form-control">
                                    <label for="form1 labelsLogin" ><strong>Apellido</strong></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="correoIn" class="form-control">
                                    <label for="form1 labelsLogin" ><strong>Correo</strong></label>
                                </div>
                                
                            </div>
                            <div class="col-md">
                                <div class="md-form form-sm ">
                                    <input mdbInput type="text" id="telefonoIn" class="form-control">
                                    <label for="form1 labelsLogin" ><strong>Telefono</strong></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="md-form form-sm ">
                                    <input mdbInput type="text" id="direccionIn" class="form-control">
                                    <label for="form1 labelsLogin" ><strong>Direccion</strong></label>
                                </div>

                            </div>
                            <div class="col-md">

                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="tarjetaIn" class="form-control">
                                    <label for="form1 labelsLogin" ><strong>Numero de tarjeta</strong></label>
                                </div>
                            </div>
                        </div>
    
                                <div class="md-form form-sm">
                                    <input mdbInput type="password" id="passIn" class="form-control">
                                    <label for="form1 labelsLogin" ><strong>Contraseña</strong></label>
                                </div>
                    </div>

                    <!-- Sign in button -->
                    <button mdbBtn mdbwaveseffect (click)="crearUsuario()" style="border-radius: 30px;" class="pt-2 labelsLogin" color="primary" block="true" class="my-4" type="button"><strong>Registrar</strong></button>

                    <button mdbBtn mdbwaveseffect (click)="gRegistro()" style="border-radius: 30px;" color="light" block="true" class=" labelsLogin" type="button"><strong>Registrar con Google</strong><mdb-icon fab class="pl-1" icon="google"></mdb-icon></button>
                    
                    <!-- Register -->
                    </form>
        </div> 
    </div>
</div>