.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 #ContenedorP{
     width: 100%;
     height: 100vh;
     margin: 0;
     padding: 0;
     position: relative;
     margin-top: -50px;
 }
#Bak{
    border: none;
}
 #Bac{
     position: relative;
     transform: translateY(-50px);
     border: none;
 }

 form{
     position: relative;
     margin: -50px 0;
     background: white;  
     border: none;
 }

@media (min-width: 769px) {

    #Bac{
        transform: translateY(-30px);
    }
}