<header>              
    <div class="logo">
        <i class="fas fa-parking mr-3"></i>
        <h4>Parking Lot</h4>
    </div>
    
    <div class="menu-btnb" (click)="onClickMenu()">
        <div class="menu-btn__burger"></div>
    </div>

    <div id="Menu2b" class='animated faster'>
        <ul>
            <li class="iconop"><mdb-icon class="white-text" style="font-size: 80px;" fas icon="parking"></mdb-icon></li>
            <li><a href="#" (click)="onClickLinks()" routerLink="/inicio">Inicio</a></li>
            <li><a href="#" (click)="onClickLinks()" routerLink="/reservar">Ganancias</a></li>
            <li><a href="#" (click)="onClickLinks()" routerLink="/historial">Definir Precios</a></li>
            <li><a href="#" (click)="onClickLinks()" routerLink="/perfil">Estacionamiento</a></li>
            <li><a href="#" (click)="onClickLinks()" routerLink="/darsebaja">Perfiles</a></li>
            <li><a href="#" (click)="cerrarSesion()" routerLink="/inicio">Cerrar Sesion</a></li>
        </ul>
        
    </div>

</header>



   